<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.euicc.partner">
    <application android:hasCode="true">
        <receiver
            android:name="com.android.euicc.partner.PartnerReceiver"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS">
            <intent-filter>
                <action android:name="com.google.android.euicc.action.PARTNER_CUSTOMIZATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
