<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.connectivity.resources.metroidoverlay">
    <application android:hasCode="false" />
    <overlay
        android:targetPackage="com.android.connectivity.resources"
        android:targetName="ServiceConnectivityResourcesConfig"
        android:priority="1"
        android:isStatic="true" />
</manifest>
